@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

@mixin txtcntr {
    text-align: center;
}

@mixin divcntr {
    display: flex;
    justify-content: center;
}

@mixin menushadow {
    text-shadow: 0 0 4px white;
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes reveal {
    from {opacity: 0;}
    to {opacity: 1;}
    
}

@keyframes reverse {
    to {transform: scale(1);}
}

$fontclr: rgb(253, 244, 205);

* {
    margin: 0;
    padding: 0;
  }

  html {
    background-image: url('src/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    font-family: 'Chakra Petch', sans-serif;
}

html, body {
    height: 100%;
    overflow: auto;
}

.container {
    display: flex;
    flex-flow: wrap column;
}

.reveal {
    animation: reveal 0.3s linear forwards;
}

.disappear {
    animation: disappear 0.2s linear forwards;
}

.hidden {
    display: none !important;
}

.menucontainer {
    height: 5em;
    width: 100%;
    color: $fontclr;
    font-size: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid rgb(206, 171, 97) 2px;
    background-image: url('src/menubg.jpg');
}

.btn1 {
    cursor: pointer;
}

.btn2 {
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
}

.btn3 {
    cursor: pointer;
}

.btn1:hover, .btn2:hover, .btn3:hover {
    @include menushadow();
}

.containerabout {
    @include divcntr();
    @include txtcntr();
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 7.5em;
}

.intro {
    animation: reveal 1s linear forwards;
    color: $fontclr;
    h1 {
        font-size: 3em;
        margin-bottom: 2em;
    }
}

.outro {
    animation: disappear 0.2s linear forwards;
    color: $fontclr;
    h1 {
        font-size: 3em;
        margin-bottom: 2em;
    }
}

.about {
    @include divcntr();
    align-items: center;
    flex-flow: column;
    width: 100%;
    justify-content: center;
}

.about1 {
    @include divcntr();
    flex-direction: column;
    align-items: center;
    background-color: rgba(192, 31, 31, 0.356);
    width: 100%;
    border-bottom: solid rgb(206, 171, 97) 3px;
    .wrapper {
        width: 41em;
        color: $fontclr;
        margin: 2em;

        h2 {
            margin-bottom: 1.5em;
            text-align: center;
            font-size: 1.7em;
        }
        
        img {
            height: 17em;
            border-radius: 50%;
            float: left;
            shape-outside: circle(50%);
            margin-right: 2em;
            border: solid rgb(206, 171, 97) 3px;
        }

        p {
            font-size: 1.2em;
        }
    }
}

.about2 {
    @include txtcntr();
    background-color: rgba(192, 31, 31, 0.356);
    width: 100%;
    color: $fontclr;
    border-bottom: solid rgb(206, 171, 97) 3px;

    h2 {
        margin-bottom: 1.5em;
        text-align: center;
        font-size: 1.7em;
        margin-top: 2em;
    }

    .wrapper2 {
        @include divcntr();
        align-items: center;
        flex-direction: row;
        margin: 2em;

        img {
            height: 3em;
            margin: 0.4em;
        }

        .skills1, .skills2, .skills3 {
            margin-left: 2em;
            margin-right: 2em;
            div {
                display: flex;
                align-items: center;
            }
            
        }
    }
}

.projects {
    @include divcntr();
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $fontclr;
    
    .wrapper3 {
        background-color: rgba(192, 31, 31, 0.356);
        width: 100%;
        border-bottom: solid rgb(206, 171, 97) 3px;

        h2 {
            margin-bottom: 1.5em;
            text-align: center;
            font-size: 1.7em;
            margin-top: 1.5em;
            
        }
        .projectlist {
            @include divcntr();
            flex-wrap: wrap;

            div {
                @include divcntr();
                align-items: center;
                flex-flow: column;
                margin-left: 1em;
                margin-right: 1em;

                h3 {
                    margin-bottom: 0.5em;
                }

                a, a:visited {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    outline: none;
                    border: solid rgb(206, 171, 97);
                    border-radius: 0.5em;
                    padding: 0.2em;
                    width: 3em;
                    text-align: center;
                    background-color: rgb(228, 203, 150);
                    margin-left: 1em;
                    margin-right: 1em;
                    margin-bottom: 2em;
                    margin-top: 0.5em;
                }

                p {
                    color: rgb(151, 150, 150);
                    font-style: italic;
                }

                img {
                    width: 19em;
                    border: solid rgb(206, 171, 97) 3px;
                    border-radius: 1em;
                }
            }
        }
    }
}

.contacts {
    @include divcntr();
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 7.5em;
    color: $fontclr;

    .wrapper4 {
        @include divcntr();
        align-items: center;
        flex-flow: column wrap;
        background-color: rgba(192, 31, 31, 0.356);
        width: 100%;
        border-bottom: solid rgb(206, 171, 97) 3px;
        border-top: solid rgb(206, 171, 97) 3px;

        img {
            height: 5em;
            margin: 0em 1em 2em 1em;
            border: solid rgb(206, 171, 97) 3px;
            border-radius: 50%;
        }

        h2 {
            margin-bottom: 1.5em;
            font-size: 1.7em;
            margin-top: 1.5em;
        }

        p {
            margin-bottom: 0.2em;;
        }
    }
}



//--------------------------------------------------------------------------------------------------------------------------------------------


@media screen and (max-width: 410px) {
    .menucontainer {
        font-size: 1.2em;
    }

    .btn2 {
        margin-left: 1em;
        margin-right: 1em;
    }

    .contacts {
        .wrapper4 {
            img {
                margin: 0em 0.5em 0.5em 0.5em;
            }
        }
    }
}

@media screen and (max-height: 620px) {
    .contacts {
        margin-top: 0;

        .wrapper4 {
            border-top: none;
        }
    }
}



